<section>
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>Licences</h2>
      <ol class="breadcrumb">
        <li class="active">
          <a data-ui-sref="home">Accueil</a>
        </li>
        <li class="active">
          <a data-ui-sref="licenses.list">Licences</a>
        </li>
        <li class="active">
          <strong>Commander une licence</strong>
        </li>
      </ol>
    </div>
  </div>
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-md-8">
        <div class="ibox lic-order-box">
          <div class="ibox-title">
            <span class="pull-right">(<strong>5</strong>) articles</span>
            <h5>Commander une licence</h5>
          </div>
          <div class="ibox-content">
            <div class="table-responsive">
              <table class="table shoping-cart-table">
                <tbody>
                  <tr>
                    <td class="desc">
                      <h3 class="text-navy">
                          Stimshop
                      </h3>
                      <div class="m-t-md">
                        <a href="#" class="text-muted"><i class="fa fa-cart-plus glyphicon"></i> Ajouter un beacon</a>
                      </div>
                    </td>
                    <td>
                      <div class="m-t-sm">
                        50,00 €
                      </div>
                    </td>
                    <td width="65">
                      <input type="number" min="0" class="form-control" placeholder="0">
                    </td>
                    <td>
                      <div class="m-t-sm">
                        50,00 €
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="ibox-content">
            <div class="table-responsive">
              <table class="table shoping-cart-table">
                <tbody>
                  <tr>
                    <td class="desc">
                      <h3 class="text-navy">
                          Third Party Beacon
                      </h3>
                      <div class="m-t-md">
                        <a href="#" class="text-muted"><i class="fa fa-cart-plus glyphicon"></i> Ajouter un beacon</a>
                      </div>
                    </td>
                    <td>
                      <div class="m-t-sm">
                        50,00 €
                      </div>
                    </td>
                    <td width="65">
                      <input type="number" min="0" class="form-control" placeholder="0">
                    </td>
                    <td>
                      <div class="m-t-sm">
                        50,00 €
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="ibox-content">
            <div class="table-responsive">
              <table class="table shoping-cart-table">
                <tbody>
                  <tr>
                    <td class="desc">
                      <h3 class="text-navy">
                          IBeacon
                      </h3>
                      <div class="m-t-sm">
                        <a href="#" class="text-muted"><i class="fa fa-cart-plus glyphicon"></i> Ajouter un beacon</a>
                      </div>
                    </td>
                    <td>
                      <div class="m-t-sm">
                        50,00 €
                      </div>
                    </td>
                    <td width="65">
                      <input type="number" min="0" class="form-control" placeholder="0">
                    </td>
                    <td>
                      <div class="m-t-sm">
                        50,00 €
                      </div class="m-t-sm">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="ibox-content">
            <div class="table-responsive">
              <table class="table shoping-cart-table">
                <tbody>
                  <tr>
                    <td class="desc">
                      <h3>
                        <a href="#" class="text-navy">
                          Eddystone
                        </a>
                      </h3>
                      <div class="m-t-md">
                        <a href="#" class="text-muted"><i class="fa fa-cart-plus glyphicon"></i> Ajouter un beacon</a>
                      </div>
                    </td>
                    <td>
                      <div class="m-t-sm">
                      50,00 €
                    </div>
                    </td>
                    <td width="65">
                      <input type="number" min="0" class="form-control" placeholder="0">
                    </td>
                    <td>
                      <div class="m-t-sm">
                        50,00 €
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ibox lic-order-box">
          <div class="ibox-title">
            <h5>Votre commande</h5>
          </div>
          <div class="ibox-content">
            <span>
              Total
            </span>
            <h2 class="font-bold">
              400,00 €
            </h2>
            <hr/>
            <div class="m-t-sm">
              <div class="btn-group checkout-btn">
                <a data-ui-sref="licenses.order-checkout" class="btn btn-primary btn-sm"><i class="fa fa-cart-arrow-down glyphicon"></i>Commander</a>
                <a data-ui-sref="home" class="btn btn-white btn-sm"><i class="fa fa-undo glyphicon"></i>Annuler</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
