<section>
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
      <h2>Beacons</h2>
      <ol class="breadcrumb">
        <li class="active">
          <a data-ui-sref="home">Accueil</a>
        </li>
        <li class="active">
          <a data-ui-sref="beacons.list">Beacons</a>
        </li>
        <li class="active">
          <strong>{{vm.beacon._id ? 'Modifier le beacon' : 'Ajouter un beacon'}}</strong>
        </li>
      </ol>
    </div>
  </div>
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 lic-form-box">
        <div class="ibox float-e-margins">
          <div class="ibox-title li-license-form">
            <h5>{{vm.beacon._id ? 'Modifier le beacon' : 'Ajouter un beacon'}}
            </h5>
          </div>
          <div class="ibox-content">
            <form role="form" name="vm.form.beaconForm" class="form-horizontal" ng-submit="vm.save(vm.form.beaconForm.$valid)" novalidate>
              <fieldset>
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group p-w-sm" show-errors>
                        <label class="control-label" for="beaconName">Code</label>
                        <input name="beaconName" type="text" ng-model="vm.beacon.beaconName" id="beaconName" class="form-control" placeholder="Nom" disabled>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group p-w-lg" show-errors>
                      <label class="control-label" for="signal">Type</label>
                      <select style="width:100%" class="js-example-responsive" ui-select2 data-ng-model="vm.beacon.beaconType" id="beaconType" name="type" >
                        <optgroup label="Sélectionner un type">
                          <option>Third Party Beacon</option>
                          <option>IBeacon</option>
                          <option>Eddystone</option>
                        </optgroup>
                      </select>
                    </div>
                  </div>
                  <!--<div class="row">
                    <div class="form-group p-w-lg" show-errors>
                      <label class="control-label" for="signal">Signal</label>
                      <select style="width:100%" class="js-example-responsive" ui-select2 ng-model="vm.beacon.signal" id="signal" name="signal" >
                        <optgroup label="Sélectionner un signal">
                          <option>217C1</option>
                          <option>2A956</option>
                          <option>C0001</option>
                          <option>ABBEA</option>
                        </optgroup>
                      </select>
                    </div>
                  </div>-->
                </div>
                <div class="form-group p-w-sm">
                  <button type="submit" ng-show="vm.beacon._id" ng-click="vm.remove()" class="m-t-xl m-r-sm btn btn-danger btn-rounded btn-outline btn-md pull-right"><i class="glyphicon fa fa-trash"></i>Supprimer</button>
                  <button type="submit" class="m-t-xl m-r-sm btn btn-primary btn-rounded btn-outline btn-md pull-right"><i class="glyphicon fa fa-floppy-o"></i>{{vm.beacon._id ? 'Enregistrer' : 'Ajouter'}}</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
