<section class="row">
  <div class="col-xs-12 col-md-12 m-t-md p-h-xl">
    <form name="vm.passwordForm" ng-submit="vm.changeUserPassword(vm.passwordForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="currentPassword">Mot de passe actuel</label>
          <input type="password" id="currentPassword" name="currentPassword" class="form-control" ng-model="vm.passwordDetails.currentPassword" placeholder="Mot de passe actuel" required>
          <div ng-messages="vm.passwordForm.currentPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Your current password is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="newPassword">Nouveau mot de passe</label>
          <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="vm.passwordDetails.newPassword" placeholder="Nouveau mot de passe" uib-popover="{{vm.getPopoverMsg()}}" uib-popover-trigger="focus" password-validator required>
          <div ng-messages="vm.passwordForm.newPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Saisir un nouveau mot de passe</p>
            <div ng-repeat="passwordError in passwordErrors">
              <p class="help-block error-text" ng-show="vm.passwordForm.newPassword.$error.requirements">{{passwordError}}</p>
            </div>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="verifyPassword">Vérifier le mot de passe</label>
          <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-model="vm.passwordDetails.verifyPassword" placeholder="Vérifier le mot de passe" password-verify="vm.passwordDetails.newPassword" required>
          <div ng-messages="vm.passwordForm.verifyPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Vérifiez votre nouveau mot de passe</p>
            <p class="help-block error-text" ng-show="vm.passwordForm.verifyPassword.$error.passwordVerify">Les mots de passe ne correspondent pas</p>
          </div>
        </div>
        <div class="form-group" ng-show="!vm.passwordForm.newPassword.$error.required">
          <label>Qualité du mot de passe</label>
          <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
        </div>
        <div class="text-center form-group m-t-xl">
          <button type="submit" class="btn btn-primary pull-right">Enregistrer</button>
        </div>
        <div ng-show="vm.success" class="text-center text-success">
          <strong>Mot de passe modifié avec succès</strong>
        </div>
        <div ng-show="vm.error" class="text-center text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
